/* Variables CSS para colores */
:root {
    --dark-green: #00833f; /* Un verde más oscuro si se necesita */
    --dark-text: #666666;
}

body, h1, h2, h3, p, span, a {
  font-family: 'Poppins', sans-serif !important;
}
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--dark-text);
  overflow-y: hidden;
  overflow-x: auto;
}

/* Header */
.header {
 /* background: url('assets/FONDO-CINTA-DE-SEGURIDAD-INTELIGENTE.png');*/
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

/* Contenedor interno */
.banner-container {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  text-align: center;
  margin-top: 15;
}
/* Texto */

.line1 h1 {
  font-size: 3em;
  color: var(--dark-green);
}

.line2 {
  font-size: 3em;
  color: var(--dark-text);
}

.line1 h1,
.line2 {
  display: block;
  text-align: center; 
}

.line3 {
  font-size: 2.3em;
  color: var(--dark-green);
}

/* Imagen central */
.pegatin-cintandina {
  width: 400px;
  height: auto;
  justify-content: center;
  align-items: center;
}

}

.line4 {
  font-size: 2.3em;
  color: var(--dark-text);
  }
.line5 {
  font-size: 1em;
  color: var(--dark-text); 
}

.line4,
.line5 {
  text-align: center;
}

.line4 p{
    line-height: 2.1; 
}

.line1 h1,
.line2,
.line3,
.line5 {
  line-height: 1.2; /* Reduce el espacio entre líneas */
  margin: 0; /* Elimina márgenes que añaden separación extra */
  padding: 0;
}

/* ------------------- ESTILOS RESPONSIVE ------------------- */

/* Celulares */
@media (max-width: 700px) {
  .banner-container {
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    padding: 25px;
    text-align: center; 
    overflow-y: hidden;
    overflow-x: auto;
  }

 .pegatin-cintandina {
  width: 300px;             
}

  
.line1, h1 {
font-size: 1.1em;
}
    
.line2 {
  font-size: 2.0em;
  font-weight: bold;
}

.line3 {
  font-size: 1.2em;
   width: 300px;
}

.line4 p{
    font-size: 0.85em;
    text-align: justify;
    line-height: 1;
    margin: 10, 50px;
    
}
.line5 {
  font-size: 0.6em;
  botton: 0;
}

.line1 h1,
.line2,
.line3 {
  line-height: 1.3;
}
}
   




