/* Variables CSS para colores */
:root {
    --primary-green: #28a745; /* Color verde de los elementos */
    --dark-green: #1e7e34; /* Un verde más oscuro si se necesita */
    --light-gray: #f5f5f5;
    --dark-text: #333;
    --white: #fff;
    --brick-red: #bb2f2e; /* Color similar al de la cinta */
    --light-orange: #ffeeba; /* Para el texto resaltado */
}

body, h1, h2, h3, p, span, a {
  font-family: 'Poppins', sans-serif !important;
}
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--dark-text);
  line-height: 1.6;
}

/* Header */
.header {
  background: url('assets/FONDO-CINTA-DE-SEGURIDAD-INTELIGENTE.png');
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  border-bottom: 1px solid #eee;
  overflow: hidden;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom, 
    rgba(255,255,255,0.95) 0%, 
    rgba(255,255,255,0.7) 50%, 
    rgba(255,255,255,0.4) 90%, 
    rgba(255,255,255,0) 100%
  );
  pointer-events: none;
  z-index: 0;
}

/* Contenedor interno */
.banner-container {
  position: relative;
  z-index: 1;
  background: transparent;
  padding: 40px;
  max-width: 1500px;
  max-height: 900px;
  width: 80%;
  text-align: center;
  margin-top: 15;
  overflow: visible;
}

/* Logos */
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.logo-cintandina,
.logo-ci {
  max-height: 90px;
  width: auto;
}

/* Separador */
.separator {
  width: 3px;
  height: 100px;
  background: #000;
  margin: 0 10px;
}

/* Texto */

.line1 h1 {
  font-size: 2.5em;
  color: #666;
  line-height: 1.5;
  margin-top: 25px;
}

.line2 {
  font-size: 2.5em;
  color: #666;
  line-height: 1.5;
  margin-bottom: 5px !important;
  font-weight: 280;
}

.line1 h1,
.line2 {
  display: block;
  position: relative;
  top: -800px; 
  left: -600px;
  z-index: 2;
  margin: 0;
  text-align: end !important;
    
}


.line3 {
  font-size: 1.5em;
  margin-top: 0px !important;
  color: #666;
  font-weight: 280;
}

/* Imagen central */
.hero-image {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 5%;
  padding-top: 0;    
  padding-bottom: 0; 
  overflow: visible;
}

.hero-image img {
  width: 650px;
  height: 1040px;
  right: 115px;
  display: block; 
  padding-top: 0;
  padding-bottom: 0;
}


/* Pagina1 */
.call-to-action {
  text-align: center;
  position: relative; 
  top: -680px;
  font-weight: 600;
  cursor: pointer;
}

.call-to-action img {
  display: block;
  margin: 20px auto 0;
  width: 40px;
}


/* Sección Slogan */
.product-slogan-section {
  width: 100vw;              
  margin: 40px 0 0 0;   
  padding: 0;                
  text-align: center;        
}
.product-slogan-section span {
  display: block;
}

.line4 {
  font-size: 1.5em;
  color: var(--dark-green);
  line-height: 0.9;
}
.line5 {
  font-size: 1.5em;
  color: var(--dark-green);
  font-weight: 280;
}

.line4,
.line5 {
  display: block; 
  text-align: center;
  margin: 0 auto; 
  z-index: 2;
}

.interactive-image {
  width: 60%;             
  height: auto;              
  display: block;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}

/* banner selección*/
.how-to-read-section {
    background-color: var(--dark-green);
    color: var(--white);
    height: 60px;  
    display: flex;   
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 5%;   
}

.how-to-read-section {
    font-size: 1.5em;
    font-weight: 700;
}

/* Cuerpo e instructivo */

.difference-section {
  position: relative;
  overflow: hidden;
  padding:  0;
  /*overflow: visible !important;*/
  height: auto;
}

.background-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: 
    linear-gradient(to top, 
    rgba(255, 255, 255, 1) 0%,    
    rgba(255, 255, 255, 0.9) 75%,   
    rgba(255, 255, 255, 0) 100%   
    ),
    url('assets/FONDO-CINTA-DE-SEGURIDAD-INTELIGENTE.png') no-repeat center;
  background-size: cover;
  z-index: 0;
    overflow: visible !important;
}


.content-layer {
  position: relative;
  z-index: 1; /* ahora el texto siempre está arriba */
  color: #000; /* o blanco, según contraste */
  padding: 10% 0;
}

.step {
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
width: 60%; 
margin: 0 auto; 
}
.step-icon {
    width: 60%; 
    height: auto;
    align-items: center;
    display: block;
    margin: 0 auto; 
}

.step1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 100px;
}

.line6 {
  color: #666666;
  line-height: 0.2;
}

.line7 {
 color: var(--dark-green);
}

.line6,
.line7, h1 {
  font-size: 2.5em;
  display: block; 
  text-align: center;
  margin: 0 auto; 
  z-index: 2;
}


.features-display-container {
      padding-right: 0 !important;
      margin-right: 0 !important;
      position: relative;
      align-items: flex-start;
      justify-content: space-between;
      font-size: 1.9em;
      width: 100%;
      float: right;
      padding: 0;
      margin: 0;
      max-height: 1040x;
      overflow: hidden;
      overflow: visible;
}


.features-list {
    justify-content:  flex-start !important;
    width: 80%;
    flex-direction: column;
    font-weight: 250;
    text-align: start !important;
     margin: 0 5%;
     margin-left: 5%;
     position: relative;
     z-index: 3; 
     flex: 2;
     display: flex;
     top: -40px;
     padding: 40px 0; 
     flex: 0 0 55% !important;
}
.features-list p {
   margin-bottom: 20px;
  /* line-height: 1.6;*/
}


.feature-item {
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
}
.feature-icon {
    width: 45px;
    height: 46px;
    flex-shrink: 0;
}

.feature-item p {
    margin: 0;
    font-size: 0.9em;
    color: #555;
}
.phone-app-image {
    position: relative;
    display: flex;
    justify-content:  flex-end;
    align-items: flex-end;
    z-index: 1;
    padding-left: 5%;
    flex: 0 0 45%;
    overflow: visible;
    z-index: 3;
}

.phone-app-image img {
  position: absolute; 
  max-width: 400px;
  width: 400px !important;
  height: auto;
  right: -45px ;
 
  max-width: none !important;
  flex: 0 0 auto !important;
  z-index: 2;
}

/* Pie de pagina */
.footer {
    background-color: #f5f5f5;
    color: var(--light-grayt);
    text-align: center;
    padding: 30px 5%;
    font-size: 1.3em;
    font-weight: 350;
}

.footer p {
    margin-bottom: 20px;
    line-height: 1.1;
}

.footer-logo {
    height: 30px; 
    width: auto;
}

.line8 {
 color: var(--dark-green);
}

/* ------------------- ESTILOS RESPONSIVE ------------------- */

/* Tablets */
@media (max-width: 1024px) {
  .banner-container {
    width: 90%;
    max-height: 800px;
    padding: 15px;
  }

  .logo-container {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap !important;
    gap: 15px;
  }

  .logo-cintandina,
  .logo-ci {
    max-height: 60px;
    width: auto;
  }

  .separator {
    width: 2px;
    background: #000;
    height: 65px;
  }


  .line1 h1 {
    font-size: 1.6em;
    top: -158px;
    line-height: 1.2;
    left: -1px;
  }

  .line2 {
    font-size: 1.6em;
    top: -156px;
    line-height: 1.2;
    left: -1px;
  }

  .line3 {
    font-size: 1em;
  }

    .call-to-action {
       position: relative; 
        top: -100px;
    }

    
     .line4 {
    font-size: 1em;
  }

  .line5 {
    font-size: 1em;
  }

    .line6, .line7 {
    font-size: 1.8em;
  }

.interactive-image {
    width: 100%;             
    height: auto;                        
    margin: 0;
    padding: 0;
}


    
  /* Imagen: ocupa la mitad derecha, pegada al borde */
      .hero-image {
      width: 350px !important;             
      display: flex !important;
      justify-content: flex-end;
      max-height: 505px !important;
    }
    
    .hero-image img {
      width: 100% !important ;             
      max-width: none !important;
      max-height: 505px !important;
    }


    
    /* Instructivo*/
    .how-to-read-section {
    padding: 30px 5%;
    height: 8px ;  
        
  }

  .how-to-read-section {
    font-size: 0.9em;
  }

  .line6 {
    font-size: 1.1em;
  }

  .line7 {
    font-size: 1.1em;
  }

  .step {
    max-width: 100%; 
    align-items: center;
  }

   .step-icon {
    width: 100%;
    align-items: center;
  }
 .step1 {
    margin-top: 30px;
    }

  .features-display-container {
      padding-right: 0 !important;
      margin-right: 0 !important;
      position: relative;
      align-items: flex-start;
      justify-content: space-between;
     font-size: 0.7em;
     width: 100%;
     float: right;
     padding: 0;
     margin: 0;
     max-height: 415px;
     overflow: hidden;
}


.features-list {
    position: relative;
    flex-direction: column;
    width: 100%;
    z-index: 2;
    flex: 2; 
    top: -40px;
    padding: 50px 0 !important;

}

.features-list p {
   margin-bottom: 20px;
   line-height: 1.6;
}

.feature-item p {
    width: 115%;  
    max-width: none;
    float: right;
}
 
.feature-icon {
    width: 30px;
    height: 31px;
}


.phone-app-image {
  position: relative; 
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 1;
  padding-left: 5%;
  overflow: visible;
  flex: 1;
}

.phone-app-image img {
   position: absolute; 
   bottom: 110px;     
   width: 205px !important;
   height: auto !important;
   max-width: none !important;
   flex: 0 0 auto !important;
   z-index: 2;
}
.footer {
    font-size: 0.8em;
}

.footer p {
    margin-bottom: 15px;
}
.footer-logo {
    height: 40px;
    width: auto;
}
.line8 {
 color: var(--dark-green);
} 
}

/* Celulares */
@media (max-width: 700px) {
  .banner-container {
    width: 90%;
    max-height: 800px;
    padding: 15px;
  }

  .logo-container {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap !important;
    gap: 15px;
  }

  .logo-cintandina,
  .logo-ci {
    max-height: 60px;
    width: auto;
  }

  .separator {
    width: 2px;
    background: #000;
    height: 65px;
  }

  .line1 h1 {
    font-size: 1.6em;
    top: -158px;
    line-height: 1.2;
    left: -2px;
    text-align: center !important;
  }

  .line2 {
    font-size: 1.6em;
    top: -156px;
    line-height: 1.2;
    left: -2px;
    text-align: center !important;
  }

  .line3 {
    font-size: 1em;
  }

    .call-to-action {
       position: relative; 
        top: -100px;
    }

    
     .line4 {
    font-size: 1em;
  }

  .line5 {
    font-size: 1em;
  }

    .line6, .line7 {
    font-size: 1.8em;
  }

.interactive-image {
    width: 140%;             
    height: auto;                        
    margin: 0;
    padding: 0;
}


    
  /* Imagen: ocupa la mitad derecha, pegada al borde */
      .hero-image {
      width: 350px !important;             
      display: flex !important;
      justify-content: flex-end;
      max-height: 505px !important;
    }
    
    .hero-image img {
      width: 100% !important ;             
      max-width: none !important;
      max-height: 505px !important;
    }


    
    /* Instructivo*/
    .how-to-read-section {
    padding: 30px 5%;
    height: 8px ;  
        
  }

  .how-to-read-section {
    font-size: 0.9em;
  }

  .line6 {
    font-size: 1.1em;
  }

  .line7 {
    font-size: 1.1em;
  }

  .step {
    max-width: 100%; 
    align-items: center;
  }

   .step-icon {
    width: 100%;
    align-items: center;
  }
 .step1 {
    margin-top: 30px;
    }

    .difference-section {
  height: 630px;
}


  .features-display-container {
      padding-right: 0 !important;
      position: relative;
      align-items: flex-start;
      justify-content: space-between;
     font-size: 0.7em;
     width: 100%;
     float: right;
     padding: 0;
     text-align: center !important;
     margin: 0;
     max-height: 415px;
     overflow: hidden;
}


.features-list {
    position: relative;
    flex-direction: column;
    width: 50%;
    z-index: 2;
    flex: 2; 
    top: -30px;
    padding: 50px 0 !important;

}

.features-list p {
   margin-bottom: 20px;
   line-height: 1.6;
}

.feature-item p {
    width: 115%;  
    max-width: none;
    float: right;
}
 
.feature-icon {
    width: 30px;
    height: 31px;
}


.phone-app-image {
  position: relative; 
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 1;
  padding-left: 5%;
  overflow: visible;
  flex: 1;
}

.phone-app-image img {
   position: absolute; 
   bottom: 70px;     
   width: 205px !important;
   height: auto !important;
   max-width: none !important;
   flex: 0 0 auto !important;
   z-index: 2;
}
.footer {
    font-size: 0.8em;
}

.footer p {
    margin-bottom: 15px;
}
.footer-logo {
    height: 40px;
    width: auto;
}
.line8 {
 color: var(--dark-green);
} 
}





